<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje1"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/question1.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    What individual discovered the expansion of the universe?</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question2(0)">Johannes Kepler</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question2(1)">Edwin Hubble</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question2(0)">William Herschel</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question2(0)">Nicolas Copernico</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>