<!--<ion-header>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <div class="progress">-->
<!--          <ion-progress-bar color="tertiary"  [value]="porcentaje" ></ion-progress-bar>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <p style="justify-content: center"> What is the heart of the galaxy?</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question1(0)">
                    A fireball
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question1(0)">
                    A star
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question1(1)">
                    A supermassive black hole
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question1(0)">
                    A gravitational field
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>