<ion-content padding class="background" style="text-align: center">
    <!--  <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje2"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <br>
                <div>
                    <img src="/assets/img/q3.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    What virtual telescope helped capture the first image of the black hole?</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question3(1)">The Event Horizon Telescope (EHT)</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question3(0)">WorldWide Telescope</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question3(0)">Celestron</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question3(0)">Astronomical telescope</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>