ion-content {
    --background: url(../../assets/img/results.jpg) 0 0/100% 100% no-repeat;

}

ion-button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

#button{
    --border-radius: 36px;

}

p{
    color: white;
    font-size: 28px;
}

h1{
    font-size: 38px;
    color: white;
}
.creditos{
    color: white;
}

