<ion-content padding class="background" style="text-align: center">
    <div style="height: calc(5%);"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div>
                    <img style="width: 200px; height: 200px;" src="/assets/img/636X606.png"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <h1>RESULTS</h1>
                </div>
                <div>
                    <p>{{pun}}/10</p>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <ion-button (click)="questions()" class="ion-text-uppercase" id="button"> try again</ion-button>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ion-col size="6">
                <div>
                    <img (click)="home()" style="width: 90px; height: 90px;" src="/assets/img/home.png"/>
                </div>
            </ion-col>
            <ion-col size="6">
                <div>
                    <img (click)="questions()" style="width: 90px; height: 90px;" src="/assets/img/tryagain.png"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="creditos">
                    Credits :<br>
                    <i>eso.org, Karen Gama, Yojan Hernandez,<br>
                        Martha Avellaneda, Cristian Dulcey, <br>
                        Emiraldo Lozano, Universidad de los llanos</i>
                </div>
            </ion-col>

            <!--            <ion-col size="12">-->
            <!--                <div>-->
            <!--                    <form>-->
            <!--                        <input type='text' placeholder='Player Name'>-->
            <!--                    </form>-->
            <!--                </div>-->
            <!--            </ion-col>-->
            <!--            <ion-col size="12">-->
            <!--                <div>-->
            <!--                    <ion-button class="ion-text-capitalize" id="button" color="success"><p>Play</p></ion-button>-->
            <!--                </div>-->
            <!--            </ion-col>-->
            <!--            <div>-->
            <!--                <p>Creditos:</p><br>-->
            <!--                <i>eso.org, Karen Gama, Yojan Hernandez,<br> Martha Avellaneda, Universidad de los llanos</i>-->
            <!--            </div>-->
        </ion-row>
    </ion-grid>
</ion-content>