<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje9"></ion-progress-bar>
                </div>
            </ion-col>
            ´
            <br>
            <br>
            <br>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q9.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    the moon and the arch of the milky way was captured by the photographer :</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question10(1)">Stephane Guisard</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question10(0)">Aldel Riger</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question10(0)">West Sussex</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question10(0)">Pagham</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>