<ion-content padding class="background" style="text-align: center">
    <!--  <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje3"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q4.jpg"/>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <p style="justify-content: center">
                    The following image captures the stellar nursery IC 2944 was taken with the objective of?</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question4(0)">
                    The inauguration of a telescope
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question4(0)">
                    Thackeray's blood cells
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question4(1)">
                    Celebrate 15 years <br> of ESO's Very Large Telescope
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question4(0)">
                    The creation of the company That
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>