<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje4"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q5.jpg"/>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <p style="justify-content: center">Thor’s Helmet Nebula
                    this photograph was taken in honor of : </p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question5(1)">
                    ESO 50th Anniversary Celebration
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question5(0)">
                    Winner of the award <br>Tweet Your way to the VLTI
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question5(0)">
                    ESO's 15th anniversary celebration
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question5(0)">
                    ESO's 45th anniversary celebration
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>