ion-content {
    --background: url(../../assets/img/questions_background.jpg) 0 0/100% 100% no-repeat;

}

ion-progress-bar{
    height: 24px;
    --buffer-background: white;
    --progress-background: #0388ff;

}

p{
    font-size:25px;
    color: #ede6ff;
}

ion-button{
    width: 323px;
    height: 60px;
    font-size: 15px;

}

img{
    width: 290px;
    height: 150px;
}

