<!--<ion-header>-->
<!--    <ion-grid>-->
<!--        <ion-row>-->
<!--            <ion-col>-->
<!--                <div class="progress">-->
<!--                    <ion-progress-bar color="tertiary" [value]="porcentaje7"></ion-progress-bar>-->
<!--                </div>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje7"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/eso0848a.jpg"/>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <p style="justify-content: center">

                    The image called NGC 2264 and the group of Christmas trees was taken on the date:</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question8(1)">December 16, 2008
                </ion-button>
            </ion-col>
            <ion-col size="12">´
                <ion-button (click)="question8(0)">July 10, 2019</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question8(0)">March 5, 2019</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question8(0)">April 6, 2007</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>