<!--<ion-header>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <div class="progress">-->
<!--          <ion-progress-bar color="tertiary" [value]="porcentaje6" ></ion-progress-bar>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje6"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q7.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    The following image adopted the name of:</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question7(0)">Vst</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question7(0)">Messier 78</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question7(0)">
                    The nebula
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question7(1)">
                    The horse head nebula
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>