<!--<ion-header>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <div class="progress">-->
<!--          <ion-progress-bar color="tertiary" [value]="porcentaje5" ></ion-progress-bar>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje5"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q6.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    The next photograph called "VLT The eyes of the virgin" was taken by?
                </p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question6(1)">
                    the FORS2 instrument <br> in the Very Large Telescope
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question6(0)">
                    the Celestron telescope
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question6(0)">
                    the Very Large Telescope
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question6(0)">
                    Astronomical telescope
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>