ion-content {
    --background: url(../../assets/img/1242X2208.png) 0 0/100% 100% no-repeat;
}

input{
    opacity: .2;
    border-radius: 36px;
    width: 350px;
    height: 60px;
    text-align: center;
    font-size: 28px;
    color: black;
}

ion-button{
    width: 180px;
    height: 60px;
    font-size: 35px;

}

#button{
    --border-radius: 300px;

}

p{
    color: white;
}


