<ion-content padding class="background" style="text-align: center">
    <div style="height: calc(10%);"></div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/636X606.png"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <br>
                    <br>
                    <form>
                        <input type='text' placeholder='Player Name' >
                    </form>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <ion-button type="submit" (click)="questions()" class="ion-text-capitalize" id="button" color="success"><p>Play</p></ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>