<!--<ion-header>-->
<!--    <ion-grid>-->
<!--        <ion-row>-->
<!--            <ion-col>-->
<!--                <div class="progress">-->
<!--                    <ion-progress-bar color="tertiary" [value]="porcentaje8"></ion-progress-bar>-->
<!--                </div>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje8"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q8.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    Does the VLT in action show the visibility of how many telescopes?</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="question9(0)">
                    six telescopes
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question9(0)">
                    five telescopes
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question9(1)">
                    four telescopes
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="question9(0)">two telescopes</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>