<!--<ion-header>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <div class="progress">-->
<!--          <ion-progress-bar color="tertiary" [value]="porcentaje10" ></ion-progress-bar>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
<!--</ion-header>-->

<ion-content padding class="background" style="text-align: center">
    <!--    <div style="height: calc(6%);"></div>-->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="progress">
                    <ion-progress-bar color="tertiary" [value]="porcentaje10"></ion-progress-bar>
                </div>
            </ion-col>
            <br>
            <br>
            <br>
            <ion-col size="12">
                <div>
                    <img src="/assets/img/q10.jpg"/>
                </div>
            </ion-col>
            <ion-col size="12">
                <p style="justify-content: center">
                    The next photo is called:</p>
            </ion-col>

            <ion-col size="12">
                <ion-button (click)="results(1)">Centaurus A</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="results(0)">
                    Central black hole
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="results(0)">
                    The chair
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="results(0)">Laboga</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>